*{
    margin:0;
    border:0;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

body{
    background-image: linear-gradient(to right top, #5812cc, #7f00c4, #9b00bb, #b100b3, #c300ab, #cf00a3, #da009c, #e40094, #ec008b, #f40082, #fa0079, #ff006f);
    display:flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100vw;
    overflow: hidden;
}

#title-header{
    color: whitesmoke;
    font-size: 50px;
    padding-left: 1130px;
}
.container{
    align-self: center;
    display: flex;
    flex-direction: column;
    /*
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 25px;
    margin-top: 10px;
}

#title-contain{
    display: flex;
    justify-content: space-between;
}

#card-contain{    
  position: relative;
}
.card{
    /*background: rgba( 255, 118, 73, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    background: rgba( 255, 118, 73, 0.95 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.507);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:350px;
    height:200px;
    display: flex;
    flex-direction: column;
}

.card:hover{
    transform: rotate3d(50px);
}

#card-company{
    align-self: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.under{
    position:absolute;
    color:rgba(255, 255, 255, 0.424);
    font-size: 35px;
    margin-left:20px;
    margin-top:40px;
    z-index:2;
}

#card-number{
    padding-left: 20px;
    font-size: 45px;
    margin-top: 15px;
    color: whitesmoke;
}

#card-data{
    display: flex;
    margin-top: 0;
    margin-left:20px;
}

#card-data-n, #card-data-d{
    margin-right: 35px;
}

.card-data-names-style{
    font-size: 20px;
    position:absolute;
    margin-top: 8px;
    color: rgba(245, 245, 245, 0.507);
}

.card-data-style{
    margin-top: 15px;
    color: whitesmoke;
}

#menu-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 422px;
    margin-top: 30px;
}

.menu-item{
    background-color: rgb(37, 35, 35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    padding-top: 5px;
    margin-top: 1px;
}

.menu-item:hover{
    background-color: #5812CC;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    width: 120px;
    height: 60px;
    align-self: 50px;
    padding-top: 0;
    padding-right:10px;
}

.menu-item:hover img{
    width: 50px;
    height: 50px;
    padding-left: 15px;
}
.menu-img{
    width: 30px;
    height: 30px;
}

.menu-item-name{
    font-size: 18px;
    color: whitesmoke;
    font-weight: bolder;
    letter-spacing: 2px;
}

.menu-item:hover span{
    font-size: 25px;
    margin-left: 5px;
}


/*////////////////////*/

.operations-card-selected{
    background-color: #5812CC;
    border-radius: 5px;
    height: 50px;
    margin-top: 5px;
    display: flex;
    padding-left: 15px;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.operations-img-selected{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}


.operations-item-name-selected{
    color: whitesmoke;
    font-size: 40px;
    padding-left: 15px;
}
